*.swp
.CF*
.DS_Store
.appcfg*
.bash_history
.cheat/
.dropbox/
.dvdcss/
.font*
.gem/
.guile_history
.io*
.kismet/
.macports/
.mplayer/
.python*
.slash_history
.spumux/
.ssh/
.subversion/
.Trash/
.viminfo
.wireshark*
Desktop/
Documents/
Dropbox/
Library/
Movies/
Music/
Pictures/
bt/
classes/
clones/
code/
projects/
random/
school/
bin/
*dmg
*jpg
*pyc
todo
TODO
